.*
*.tgz
**/*.js.map
npm-debug.log
schema/*.js

scripts
src
test
typings
bundled
build
temp
coverage
docs
wiki

tsconfig.json
typings.json
tslint.json

.eslintignore
.eslintrc.cjs
.github
.gitignore
.husky
.markdownlint.json.npmrc
.vscode
.publishrc

type_definitions

CONTRIBUTING.md
ISSUE_TEMPLATE.md
PULL_REQUEST_TEMPLATE.md
CODE_OF_CONDUCT.md
TODO.md
